# %HEADERTXT
## This file contains the settings for the theme %THEME

# %HIGHLIGHTTXT
HIGHLIGHT=zenburn

# %ASPECTRATIOTXT
ASPECTRATIO=169

# %LOGOTXT
LOGO="$HERE/logo.png"

# %LOGOHEIGHTTXT
LOGOHEIGHT=0.1

# %LOGOWIDTHTXT
LOGOWIDTH=""

# %LOGOUPTXT
LOGOUP=""

# %PLAINTITLETXT
PLAINTITLE=false    # true or false

# %FONTFAMILYTXT
FONTFAMILY=""

# %FONTSIZETXT
FONTSIZE=9pt

# %THEMETXT
THEME=Boadilla

# %INNERTHEMETXT
INNERTHEME=rounded

# %FONTTHEMETXT
FONTTHEME=structurebold

# %COLORTHEMETXT
COLORTHEME=orchid

# %THEMETEXTXT
THEMETEX="$HERE/preamble.theme.tex"
THEMETEX_SECTIONNAME="Part"

# %ENGINETXT
ENGINE=pdflatex
