# %HEADERTXT
## This file contains the settings for the theme %THEME

# %HIGHLIGHTTXT
HIGHLIGHT=pygments

# %ASPECTRATIOTXT
ASPECTRATIO=169

# %FONTSIZETXT
FONTSIZE=10pt

# %FONTFAMILYTXT
FONTFAMILY=Montserrat

# %FONTTHEMETXT
FONTTHEME=structurebold

# %THEMETXT
THEME=default

# %COLORTHEMETXT
COLORTHEME=default

# %LOGOTXT
LOGO=$HERE/background.pdf

# %LOGOHEIGHTTXT
LOGOHEIGHT=1.02

# %LOGOWIDTHTXT
LOGOWIDTH=1.45

# %PLAINTITLETXT
PLAINTITLE=true

# %INNERTHEMETXT
INNERTHEME=rectangles

# %THEMETEXTXT
THEMETEX=$HERE/preamble.theme.tex

THEMETEX_TITLEBACKGROUND=$HERE/titlebackground.pdf
