# %HEADERTXT
## This file contains the settings for the theme %THEME

# %HIGHLIGHTTXT
HIGHLIGHT=zenburn

# %ASPECTRATIOTXT
ASPECTRATIO=169

# %FONTSIZETXT
FONTSIZE=12pt

# %THEMETEXTXT
THEME=Rochester

# %COLORTHEMETXT
COLORTHEME=crane

# %INNERTHEMETXT
INNERTHEME=default

# %FONTTHEMETXT
FONTTHEME=structurebold

# %LOGOTXT
LOGO=$HERE/rectangular_prism.png

# %LOGOHEIGHTTXT
LOGOHEIGHT=0.15

# %LOGOUPTXT
LOGOUP=""

# %LOGOWIDTHTXT
LOGOWIDTH=""

# %PLAINTITLETXT
PLAINTITLE=true

# %FONTFAMILYTXT
FONTFAMILY=

# %THEMETEXTXT
THEMETEX=
