# %HEADERTXT
## This file contains the settings for the theme %THEME

# %HIGHLIGHTTXT
HIGHLIGHT=zenburn

# %ASPECTRATIOTXT
ASPECTRATIO=169

# %FONTSIZETXT
FONTSIZE=11pt

# %THEMETXT
THEME=Ilmenau

# %COLORTHEMETXT
COLORTHEME=dolphin

# %INNERTHEMETXT
INNERTHEME=default

# %FONTTHEMETXT
FONTTHEME=default

# %LOGOTXT
LOGO=$HERE/rectangular_prism.png

# %LOGOHEIGHTTXT
LOGOHEIGHT=0.15

# %LOGOUPTXT
LOGOUP=""

# %LOGOWIDTHTXT
LOGOWIDTH=""

# %PLAINTITLETXT
PLAINTITLE=true 

# %FONTFAMILYTXT
FONTFAMILY=""

# %THEMETEXTXT
THEMETEX=
