# %HEADERTXT
## This file contains the settings for the theme %THEME

# %HIGHLIGHTTXT
HIGHLIGHT=pygments # was tango, but pandoc 2.11 changed that to use hard-to-read yellow

# %ASPECTRATIOTXT
ASPECTRATIO=43

# %FONTFAMILYTXT
FONTFAMILY="DejaVu Serif"

# %FONTSIZETXT
FONTSIZE=9pt

# %THEMETXT
THEME=Boadilla

# %INNERTHEMETXT
INNERTHEME=rounded

# %FONTTHEMETXT
FONTTHEME=structurebold

# %COLORTHEMETXT
COLORTHEME=seagull

# %THEMETEXTXT
THEMETEX=$HERE/preamble.theme.tex

# %LOGOTXT
LOGO=$HERE/SciNetLogoWhite.png

# %LOGOHEIGHTTXT
LOGOHEIGHT=0.1

# %PLAINTITLETXT
# LOGONTITLE=!PLAINTITLE
LOGOONTITLE=false
